{% load i18n %}
<div id="resubmit-modal" style="display: none; background-color: #fff; z-index: 10;padding: 80px 20px 0px 20px;">

  <div style="display: flex;">
    <p id="goback-button" onclick="closeResubmitModal()" >
      <svg style="width: 20px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
      <strong style="font-size: 16px;"><u>{% trans "Go Back" %}</u></strong>
    </p>
  </div>

  <h2 style="height: 48px; font-size: 32px; color: #0b0b0b; margin: 0 0 48px 0;"><strong>{% trans "Resubmit Assignment" %}</strong></h2>

  <ol style="margin: 0 0 16px 16px; padding: 0 0 0 16px; font-size: 16px; color: #0b0b0b;">
    <li style="margin: 8px 0 0 0;">{% trans "Complete both slide deck templates and check your work against the Rubric." %}</li>
    <li style="margin: 8px 0 0 0;">{% trans "Include both template files in a ZIP file called PYUR_Final_Project.zip" %}</li>
    <li style="margin: 8px 0 0 0;">{% trans "Upload this ZIP file in your submission." %}</li>
  </ol>
  <br>
  <p style="font-size: 16px; color: #0b0b0b; margin: 48px 0 40px 0;">{% trans "Learn the best practices for revising and resubmitting your project. " %}<a style="color: rgb(32, 21, 255); font-weight: 700;" href="#"><u>{% trans "View Video" %}.</u></a></p>
  <hr>



  <div id="upload-file">
    <span style="font-size: 16px; color: #0b0b0b;" for="file-upload-input"><strong>{% trans "Upload Zip File" %}</strong></span>
    <p style="color: #696969; font-size: 16px; margin: 8px 0 16px;">{% trans "Compress your project file(s) into a single zip file on your computer. 500 MB limit." %}</p>

    <div style="display: none; max-width: 500px; background-color: #f6f6f6; padding: 32px; border-bottom-right-radius: 64px; margin: 0 0 40px 0;" id="file-upload-preview">

      <p style="display: flex; align-items: center; gap: 10px;">
        <svg style="width: 20px; color: green;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>

        <span id="preview-filename"></span>              
      </p>

      <span onclick="removeChosenFile()" style="cursor: pointer; color: rgb(32, 21, 255); background-color: none; background-image: none; border: none; outline: none; padding: 0; margin: 0;"><u><strong>{% trans "Delete" %}</strong></u></span>

    </div>

    <p onclick="clickFileUploadInput()" style="display: flex; align-items: center; justify-content: center; color: #fff; width: 136px; height: 48px; background-color: rgb(32, 21, 255); border-radius: 4px; cursor: pointer;" id="fake-file-upload-input" ><strong>{% trans "Choose File" %}</strong></p>

    <input id="file-upload-input" onchange="changeFileHandler(event)" type="file" style="display: block; width: 0; height: 0; overflow: hidden;" />
  </div>

  <div id="submission-details" style="margin: 0 0 40px 0;">
    <label style="font-size: 16px; color: #0b0b0b;"><strong>{% trans "Submission Details (optional)" %}</strong></label>
    <p style="color: #696969; font-size: 16px; margin: 8px 0  16px;">{% trans "Are there any areas you would like your reviewer to pay particular attention to?" %}</p>

    <textarea id="submission-details-textarea" style="min-height: 150px; max-width: 750px; width: 100%; border-radius: 4px; font-weight: 400;"></textarea>
  </div>

  <div id="confirm-policy" style="margin: 0 0 40px 0;">
    <label style="font-size: 16px; color: #0b0b0b;"><strong>Funix Honor Code</strong></label>
    <p style="color: #696969; font-size: 16px; margin: 8px 0  16px;">{% trans "You must agree to the following before submitting your project." %}</p>

    <div class="policy-item">
      <input id="checkbox-policy-1" type="checkbox" />
      <p>
        {% trans "I affirm that I have read Funix's definitoin of " %}<a href="#">{% trans "plagiarism" %}</a>{% trans ", and that this submission is my own work." %}
      </p>
    </div>

    <div class="policy-item">
      <input id="checkbox-policy-2" type="checkbox" />
      <p>
        {% trans "I have correctly attributed all content obtained from other sources, such as websites, books, forums, blogs, GitHub repos, etc." %}
      </p>
    </div>

    <div class="policy-item">
      <input id="checkbox-policy-3" type="checkbox" />
      <p>
        {% trans "I unserstand that Funix actively checks submissions for plagiarism and that failure to adhere to the " %}<a href="#">Funix Honor Code</a>{% trans " may result in the cancellation of my enrollment." %}
      </p>
    </div>

  </div>

  <p id="submitting-error-message"></p>

  <button id="submit-button" class="disabled resubmit-button step--response__submit" data-xblockid="{{xblock_id}}" text_response="{{text_response}}" file_upload_response="{{file_upload_response}}" resubmit="true">
    <strong>{% trans "Resubmit" %}</strong>
  </button>

  {% if show_staff_area %}
    <button class="delete__uploaded__file">
      Delete file
    </button> 
  {% endif %}

</div>

<div class="step--response__dialog-confirm dialog-confirm">
  <p class="dialog-text"></p>
</div>

<div style="display: none;" id="submitting-modal"><span id="submitting-loader"></span></div>

<style>
  #submitting-error-message {
    background-color: #bb1212;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    margin: 20px 0;
    display: none;
  }
</style>

<style>
  #submitting-modal {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: 100;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #fff;
    opacity: .7;
  }

  #submitting-loader {
      width: 40px;
      height: 40px;
      border: 5px solid #000;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
  }

  @keyframes rotation {

      0% {
          transform: rotate(0deg);
      }

      100% {
          transform: rotate(360deg);
      }
  } 

</style>

<style>
  #goback-button {
   margin: 0 0 30px 0; 
   display: flex; 
   align-items: center; 
   gap: 10px; 
   color: rgb(32, 21, 255); 
   cursor: pointer;
  }

  #goback-button:hover {
    text-decoration: underline;
  }


  #submission-details-textarea:focus {
    transition: .1s;
    outline: none;
  }

  #submission-details-textarea:focus {
    border-color: rgb(32, 21, 255);
    box-shadow: rgb(31, 21, 255) 0 0 0 4px;
    outline: none;
  }

  .policy-item {
    display: flex; 
    align-items: flex-start;
  }

  .policy-item input {
    width: 20px; 
    margin-top: 2px;
    transform: scale(1.5);
    flex-shrink: 0;
  }

  .policy-item p {
    margin: 0 0 0 16px;
  }

  #submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    box-shadow: none;
     outline: none;
     font-size: 16px;
     height: 48px;
     color: white;
     background-image: none;
     background-color: rgb(32, 21, 255);
     transition: .1s;
     padding: 0 40px;
  }

  #submit-button:hover {
    background-color: rgb(23, 26, 83);

  }

  #submit-button.disabled {
    background-color: rgb(199, 199, 199); 
    pointer-events: none;
  }
</style>

<script>
  function showResubmitModal() {
    document.getElementById('resubmit-modal').style.display = 'block';
  }

  function closeResubmitModal() {
    document.getElementById('resubmit-modal').style.display = 'none';
    document.querySelector('.submission-graded-container').style.display = 'block';
  }

  function clickFileUploadInput() {
    document.getElementById("file-upload-input").click();
  }

  function changeFileHandler(e) {
    const file = e.target.files[0];

    if (file) {
      const fileName = file.name;
      const fileType = file.type;
      const fileSize = file.size;
      const fileExt = file.name.split(".").pop().toLowerCase();

      document.getElementById("preview-filename").innerText = fileName;
      document.getElementById("file-upload-preview").style.display = "block";
      document.getElementById("fake-file-upload-input").style.display = "none";

      if (fileExt !== 'zip'|| fileSize/(1024 * 1024) > 500) {
        document.getElementById("submitting-error-message").style.display = "block";
      } else {
        document.getElementById("submitting-error-message").style.display = "none";
        
      }
    }

    if (!file) {
      document.getElementById("submitting-error-message").style.display = "none";
      document.getElementById("preview-filename").innerText = "";
      
    }
  }

  function removeChosenFile() {
    document.getElementById("file-upload-input").value = null;
    document.getElementById("file-upload-preview").style.display = "none";
    document.getElementById("fake-file-upload-input").style.display = "flex";
    document.getElementById("submit-button").classList.add("disabled");
    document.getElementById("submitting-error-message").style.display = "none";
  }

  const checkboxes = Array.from(document.querySelectorAll("input[type=checkbox]"));
  const fileInput =  document.querySelector("input[type=file]");

  [...checkboxes, fileInput].forEach(ele => {
    ele.addEventListener("change", e => {
      if (isValidToSubmit()) {
        document.getElementById("submit-button").classList.remove("disabled");
      } else {
        document.getElementById("submit-button").classList.add("disabled");
      }
    })
  })

  function isValidToSubmit() {
    const checkboxes = Array.from(document.querySelectorAll("input[type=checkbox]"));
    console.log(checkboxes)
    for (const checkbox of checkboxes) {
      console.log(checkbox, checkbox.checked);
      if (!checkbox.checked) return false;
    }

    const file = document.querySelector("input[type=file]").files[0];
    console.log(file)
    if (!file) return false;

    const ext = file.name.split(".").pop().toLowerCase();
    console.log(ext)
    if (ext !== 'zip') return false;

    const size = file.size;
    console.log(size)
    if (size / (1024 * 1024) > 500) return false;

    return true;
  }
</script>