{% load i18n %}
{% spaceless %}
    <li style="padding: 0; border: none;" id="openassessment__grade__{{ xblock_id }}" class="submission-graded-container openassessment__steps__step step--grade is--complete is--showing has--grade {% if allow_latex %}allow--latex{% endif %}" tabindex="-1">
        <div  id="oa_grade_{{ xblock_id }}_content" aria-labelledby="oa_grade_{{ xblock_id }}">
            <div class="wrapper--step__content">
                <div class="step__content">
                    <article style="margin: 0 0 80px 0;" class="submission__answer__display step__content__section">

                        <h5 id="submission-results-title"><strong>{% trans "Submission Results" %}</strong></h5>
                   
                        {% include "openassessmentblock/components/submission-state.html" %}

                        <div id="submission-in-review">
                        {% include "openassessmentblock/oa_uploaded_file.html" with file_upload_type=file_upload_type file_urls=file_urls header=translated_header class_prefix="submission__answer" including_template="grade_complete" xblock_id=xblock_id %}
                        </div>
                    </article>

                    <article class="submission__peer-evaluations step__content__section">
                        <h5 id="feedback-details-title"><strong>{% trans "Feedback Details" %}</strong></h5>

                        {% if grade_details.additional_feedback %}
                            <article style="padding: 20px 0 0 0; margin-bottom: 40px;">
                                <h6 id="reviewer-note-title"><strong>{% trans "Reviewer Note" %}</strong></h6>

                                <ul id="reviewer-note" class="question__answers" id="oa_grade_{{ xblock_id }}_feedback_content" aria-labelledby="oa_grade_{{ xblock_id }}_feedback">
                                    {% for feedback in grade_details.additional_feedback %}
                                        <li style="margin: 0;" class="answer feedback">
                                            {% include "openassessmentblock/grade/oa_assessment_feedback.html" with title=feedback.title assessment=feedback %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </article>
                        {% endif %}

                        <ol class="criteria-results list submission__peer-evaluations__questions">
                            {% for criterion in grade_details.criteria %}
                                {% with criterion_num=forloop.counter %}
                                    <li style="margin: 0;" class="question question--{{ criterion_num }} vanaccordion-container">
                                        <div class="criterion-result-header" >
                                            <div class="criterion-result-header-title vanaccordion-control" aria-expanded="true" aria-controls="oa_grade_{{ xblock_id }}_criteria_{{ criterion_num }}_content">

                                                {% if criterion.median_score == 0 %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 criterion-result-icon failed">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                                                    </svg>
                                                {% else %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 criterion-result-icon passed">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                    </svg>
                                                {% endif %}
    
                                                <strong>{{ criterion.label }}</strong>
                                            </div>
                                           
                                            <span class="criterion-header-angle">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                                </svg>
                                            </span>
                                        </div>

                                        <div style="transition: .2s; height: 0px; overflow: hidden;" class="rubric-feedback-content vanaccordion-content" aria-labelledby="oa_grade_{{ xblock_id }}_criteria_{{ criterion_num }}" id="oa_grade_{{ xblock_id }}_criteria_{{ criterion_num }}_content">
                                            <ul class="question__answers has--hints">
                                                {% for assessment in criterion.assessments %}
                                                    <li class="answer">
                                                        {% include "openassessmentblock/grade/oa_assessment_feedback.html" with title=assessment.feedback_title assessment=assessment %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endwith %}
                            {% endfor %}
                        </ol>
                    </article>
                </div>
            </div>
        </div>

        {% if score %}
          {% if  score.points_earned < score.points_possible %}
            <div style="margin: 20px 0;">
              <p id="open-resubmit-modal-button">
                <strong>{% trans "Resubmit" %}</strong>
              </p>
            </div>
          {% endif %}
        {% endif %}

      <div id="submission-history" style="margin: 80px 0 80px 0;">
        <h2 style="color: #0b0b0b;margin: 0 0 16px 0; font-size: 28px;">{% trans "Submission History" %}</h2>
        <p style="color: #696969; font-size: 16px; margin: 0 12px 8px 0;">{% trans "Choose a different project submission" %}</p>

        <div id="vanselect">
        </div>
      </div>
    </li>

{% endspaceless %}

<style>
    #feedback-details-title {
        font-size: 28px;
        color: #0b0b0b;
        padding: 0px !important;
        margin-bottom: 16px;
    }

    #reviewer-note-title {
        font-size: 20px;
        color: 0b0b0b;
        margin: 0 0 8px 0;
    }

    #reviewer-note {
        background-color: #f6f6f6;
        list-style-type: none;
        padding: 32px;
        border-bottom-right-radius: 64px;
        max-width: 1100px;
    }

    ol.criteria-results {
        border: 1px solid #e5e5e5 !important;
        border-top: none;
    }

    svg.criterion-result-icon {
        width: 25px;
        margin-right: 16px;
    }

    svg.criterion-result-icon.passed {
        color: rgb(52, 131, 93);
    }

    svg.criterion-result-icon.failed {
        color: rgb(208, 50, 42);
        transform: rotate(90deg);
    }

    .criterion-result-header {
        display: flex;
        width: 100%;
        min-height: 65px;
        align-items: center;
        justify-content: space-between;
        padding: 16px 16px 16px 24px !important;
        cursor: pointer;
        border-top: 1px solid #e5e5e5 !important;
    }

    ol.criteria-results li:first-child .criterion-result-header {
        border-top: none;
    }

    .criterion-result-header:hover {
        background-color: #f6f6f6;
    }

    .criterion-result-header.is--expanded .criterion-header-angle svg {
      transform: rotate(0);
      transition: .2s;
    }

    .criterion-result-header.is--expanded .criterion-header-angle svg {
      transform: rotate(-180deg);
    }

    .criterion-result-header-title {
        display: flex; 
        align-items: center;
    }

    .criterion-result-header-title strong {
        color: #0B0B0B;
        letter-spacing: 0.7px;
    }

    .criterion-header-angle svg {
        color: rgb(11,11,11);
        width: 22px;
        margin-left: 16px;
        transition: .3s;
    }

    ol.criteria-results li.is--showing .criterion-header-angle svg {
        transform: rotate(-180deg);
    }

    .rubric-feedback-content {
        padding: 0 !important;
    }

    .rubric-feedback-content > ul {

        padding: 32px 32px 32px 60px !important;
    }

    .vanaccordion-content {
      transition: .3s;
    }
</style>

<style>
  #resubmit-button, #open-resubmit-modal-button {
    height: 48px;
    width: 200px;
    background-color: rgb(32, 21, 255) !important;
    background-image: none !important;
    border-radius: 4px;
    border: 1px solid rgb(223, 223, 223);
    color: #fff;
    transition: .1s;
    font-size: 16px;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
  }

  #resubmit-button:hover,  #open-resubmit-modal-button:hover {
    background-color: rgb(23, 26, 83) !important;;
  }
</style>

<style>
    #vanselect {
      max-width: 600px;
      position: relative;
    }

    #vanselect-select {
      height: 52px;
      border: 1px solid #000;
      border-radius: 4px;
      display: flex;
      padding: 1px;
      box-shadow: 0px 1px 2px 0px #0B0B0B0F, 0px 1px 3px 0px #0B0B0B1A;
    }

    #vanselect-select.is--focus {
      border: 4px solid blue;
    }

    #vanselect-input {
      flex: 1;
      border: none;
      outline: none;
      padding: 12px;
    }

    #vanselect-svg-container {
      width: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #vanselect-svg-container svg {
      width: 20px;
      transform: rotate(0);
      transition: 0.2s;
    }

    #vanselect-select.is--focus #vanselect-svg-container svg {
      transform: rotate(-180deg);
    }

    #vanselect-options {
      position: absolute;
      top: calc(100% + 6px);
      left: 0;
      right: 0;
      list-style-type: none;
      border: 1px solid #000; 
      border-radius: 4px;
      box-shadow: 0px 1px 2px 0px #0B0B0B0F, 0px 1px 3px 0px #0B0B0B1A;
       background-color: #fff;
        z-index: 100;
        margin: 0;
        padding: 5px;
    }

    .vanselect-option {
        height: 40px;
        padding: 0 12px !important;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 !important;;
    }

    .vanselect-option:hover {
        background: #e5e5e5;
    }
  </style>

<script>
    class VanSelect {
        constructor(obj) {
          const {
            MAIN_ID,
            SVG,
            PLACEHOLDER,
            NO_OPTION_FOUND,
            chosenValue,
            OPTIONS,
            OPTION_HANDLER,
          } = obj || {};
      
          this.MAIN_ID = MAIN_ID || "vanselect";
          this.PLACEHOLDER = PLACEHOLDER || "placehoder";
          this.NO_OPTION_FOUND = NO_OPTION_FOUND || "No Option Found";
          this.SVG =
            SVG ||
            `<svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-onkibi"><path fill="currentColor" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>`;
      
          this.INPUT_ID = `${this.MAIN_ID}-input`;
          this.SELECT_ID = `${this.MAIN_ID}-select`;
          this.SVG_CONTAINER_ID = `${this.MAIN_ID}-svg-container`;
          this.OPTIONS_ID = "vanselect-options";
          this.OPTION_CLASS = "vanselect-option";
          this.chosenValue = chosenValue || "";
          this.OPTIONS = OPTIONS || [];
          this.OPTION_HANDLER =
            OPTION_HANDLER ||
            function () {
              console.log("trigger option handler");
            };
        }
      
        init() {
          this.renderSkeleton();
        }
      
        // render methods
        renderSkeleton() {
          const container = this.getEleById(this.MAIN_ID);
          const select = this.renderSelect();
          container.appendChild(select);
        }
      
        renderSelect() {
          const select = this.createEle("div");
          select.id = this.SELECT_ID;
          select.onclick = (e) => this.onClickSelectHandler(e.currentTarget);
      
          const input = this.renderInput();
      
          const svgContainer = this.createEle("span");
          svgContainer.id = this.SVG_CONTAINER_ID;
          svgContainer.innerHTML = this.SVG;
      
          select.appendChild(input);
          select.appendChild(svgContainer);
      
          return select;
        }
      
        renderInput() {
          const input = this.createEle("input");
          input.id = this.INPUT_ID;
          input.placeholder = this.PLACEHOLDER;
      
          input.oninput = (e) => this.onInputChangeHandler(e.target.value.trim());
      
          return input;
        }
      
        renderOptions(options) {
          const optionsContainer = this.createEle("ul");
          optionsContainer.id = this.OPTIONS_ID;
          options.forEach((option) => {
            const optionEle = this.createOptionEle(option);
            optionsContainer.appendChild(optionEle);
          });
      
          this.getEleById(this.MAIN_ID).appendChild(optionsContainer);
        }
      
        createOptionEle(val) {
          const li = this.createEle("li");
          li.innerText = val;
          li.classList.add(this.OPTION_CLASS);
          li.onclick = () => {
            this.chosenValue = val;
            this.removeOptions();
            this.OPTION_HANDLER();
          };
      
          return li;
        }
      
        removeOptions() {
          const optionsEle = this.getEleById(this.OPTIONS_ID);
          if (optionsEle) {
            optionsEle.remove();
          }
        }
      
        // helpers
        createEle(ele) {
          return document.createElement(ele);
        }
      
        getEleById(id) {
          return document.getElementById(id);
        }
      
        // event handler
        _clickOutsideHandler() {
          this.getEleById(this.INPUT_ID).value = this.chosenValue;
          this.getEleById(this.SELECT_ID).classList.remove("is--focus");
          this.removeOptions();
        }
      
        onInputChangeHandler(val) {
          const optionsContainer = this.getEleById(this.OPTIONS_ID);
      
          if (!optionsContainer) return;
      
          let filterOptions = this.OPTIONS.filter((item) => item.includes(val));
          if (!filterOptions.length) filterOptions = [this.NO_OPTION_FOUND];
          this.removeOptions();
          this.renderOptions(filterOptions);
        }
      
        onClickSelectHandler(select) {
          select.classList.toggle("is--focus");
          const optionsEle = this.getEleById(this.OPTIONS_ID);
          if (optionsEle) {
            this.getEleById(this.INPUT_ID).blur();
            this.removeOptions();
          } else {
            this.getEleById(this.INPUT_ID).focus();
            this.renderOptions(this.OPTIONS);
      
            document.addEventListener(
              "click",
              this.clickOutsideSelectContainerHandler
            );
      
            window.addEventListener("blur", this.onBlurIframeHandler);
          }
        }
      
        onBlurIframeHandler = () => {
          this._clickOutsideHandler();
        };
      
        clickOutsideSelectContainerHandler = (e) => {
          const container = this.getEleById(this.MAIN_ID);
          if (!container.contains(e.target)) {
            this._clickOutsideHandler();
          }
        };
      
        clearEventListeners() {
          document.removeEventListener(
            "click",
            this.clickOutsideSelectContainerHandler
          );
      
          window.removeEventListener("blur", this.onBlurIframeHandler);
        }
    }
      
    const vanselect = new VanSelect({
        OPTIONS: ["August 25, 2023", "August 23, 2023", "August 20, 2023"],
      });
      vanselect.init();
</script>

<script>

  const resubmitButton =  document.getElementById("open-resubmit-modal-button");
  if (resubmitButton) {
    resubmitButton.addEventListener("click", () => {
      console.log("OPEN MODAL");
      console.log(document.getElementById("resubmit-modal"))
      document.getElementById("resubmit-modal").style.display = "block";
      document.getElementById("openassessment__grade__{{ xblock_id }}").style.display = "none";
  })
  }

    const feedbackHeaders = document.querySelectorAll(".criterion-result-header");
    feedbackHeaders.forEach((ele) => {
      ele.addEventListener("click", (e) => {
        const header = e.currentTarget;
        const contentEle = header.nextSibling;
        if (contentEle.style.height == "0px") {
          header.classList.add("is--expanded")
          contentEle.style.height = `${contentEle.scrollHeight}px`;
        } else {
          header.classList.remove("is--expanded")
          contentEle.style.height = "0px"
        }
      })
    })
</script>

